/*
General
-------
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font:
    15px/1.4 "Poppins",
    sans-serif;
  background-image: url("bg.jpg");
  background-size: cover; /* Cover the entire background */
  background-position: center; /* Center the background image */
  background-color: #fff; /* Fallback color */
  background-repeat: no-repeat; /* Do not repeat the background image */
  height: 100vh; /* Ensure body covers the entire viewport height */
}

#app {
  padding: 20px;
  height: 10px;
}

.container {
  max-width: 800px; /* Augmentation de la largeur de la zone de contenu */
  margin: 0 auto;
  padding: 0 20px;
}

input[type="text"] {
  height: 50px;
  font:
    15px/1.4 "Poppins",
    sans-serif;
  padding: 15px;
  background: #f3f3f3;
  color: #333;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: border 0.3s linear;
}

input[type="text"]:focus {
  outline: none;
  border: 1px solid #4ec5c1;
}

button {
  cursor: pointer;
  font:
    15px/1.4 "Poppins",
    sans-serif;
  color: #fff;
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease;
  padding: 12px 24px;
  text-transform: uppercase; /* Texte en majuscules */
  letter-spacing: 1px; /* Espacement des lettres */
}

button:focus {
  outline: none;
}

h1 {
  font-size: 36px; /* Augmentation de la taille du titre */
  text-align: center;
  margin-bottom: 30px;
  color: #bb9a87; /* Nouvelle couleur pour le titre */
}

ul {
  list-style: none;
  padding: 0;
}

/* 
Task
----
*/
.task {
  background: #fff;
  border-radius: 25px;
  padding: 40px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px; /* Espacement supplémentaire entre les tâches */
}

.title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  color: #b86848; /* Nouvelle couleur pour le titre */
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.task-input-group {
  display: flex;
  align-items: center;
}

.add-task-container {
  position: relative;
  display: flex;
  align-items: left;
  margin-right: 30px; /* Adjust margin between task input and search input */
}

.add-task-input {
  flex: 1; /* Allow input to grow and fill available space */
  height: 50px;
  padding: 15px;
  background: #f3f3f3;
  color: #333;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: border 0.3s linear;
}

.add-task-button {
  cursor: pointer;
  color: #b86848;
  /* background-color:#fff; */
  border: none;
  border-radius: 10px;
  padding: 12px 16px;
  height: 45px;
  transition: background-color 0.3s ease;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.add-task-button :hover {
  color: #bb9a87;
}
.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-wrapper {
  position: relative;
  width: 100%;
}

.search-input {
  flex: 1; /* Allow search input to grow and fill remaining space */
  height: 50px;
  padding: 20px;

  background: #f3f3f3;
  color: #333;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: border 0.3s linear;
}

.search-button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  color: #b86848;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  padding: 12px;
}

.search-button:hover {
  color: #bb9a87;
}

/* Adjust width of inputs for responsiveness */
@media (max-width: 768px) {
  .task-input-group {
    width: 100%; /* Full width on smaller screens */
  }
}

.clearBtns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.clearBtns button {
  width: 48%; /* Ajustement de la largeur des boutons */
  background: #b86848;
}

.clearBtns button:hover {
  background: #bb9a87;
}

.pendingTasks {
  font-weight: bold;
  color: #b86848;
}

/* 
Task items
----------
*/
.taskItems {
  padding: 0;
}

.taskItems li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #e8e0d5;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.taskItems li:hover {
  background-color: #bb9a87;
  color: #fff;
}

.taskItems button {
  background: none;
  border: none;
  color: #b86848;
  font-size: 20px;
  cursor: pointer;
}

.taskItems button:hover {
  color: #bb9a87;
}

.taskItems .toggle {
  display: flex;
  align-items: center;
}

.taskItems .toggle i {
  margin-right: 10px;
  font-size: 18px;
}

.toggle-completed {
  text-decoration: line-through;
  color: #555;
}
